<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/ASPecore/transformations/Ecore2ASPmm.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="ECORE"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="ASPmm" value="EMF"/>
<mapEntry key="ECORE" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="ASPmm" value="METAMODELOUTPUT"/>
<mapEntry key="ECORE" value="METAMODELINPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="ASPmm"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/ASPecore/metamodels/A0.ecore"/>
<mapEntry key="OUT" value="/ASPecore/models/out/A0.ASPmm.xmi"/>
<mapEntry key="ASPmm" value="/ASPecore/metamodels/ASPmm.ecore"/>
<mapEntry key="ECORE" value="#EMF"/>
</mapAttribute>
<stringAttribute key="Project Name" value="ASPecore"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
